<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <!--<appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/demo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            &lt;!&ndash; daily rollover &ndash;&gt;
            <fileNamePattern>logs/demo.%d{yyyy-MM-dd_HH-mm}.log
            </fileNamePattern>
            &lt;!&ndash; keep 30 days' worth of history &ndash;&gt;
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } -&#45;&#45; %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>-->
    <!--<appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        &lt;!&ndash;<file>logs2/demo.log</file>&ndash;&gt;
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            &lt;!&ndash; daily rollover &ndash;&gt;
            <fileNamePattern>logs2/%d{yyyy-MM-dd_HH-mm}/demo.log
            </fileNamePattern>
            &lt;!&ndash; keep 30 days' worth of history &ndash;&gt;
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } -&#45;&#45; %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>
    <!-- turn OFF all logging (children can override) -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="FILE" />-->
    </root>
</configuration>